html {
    font-size:1em;
}

body {
    background-color: black;
    font-family: rockwell;
}

button {
    background-color: white;
}

.total {
    font-size: 2em;
    color: #e0bf19;
}

.companies {
    background-color: #68f28c;
    padding: 5px;
}

.playerTracker {
    background-color: #b94fe3;
    padding: 5px;
}

.light {
    background-color: #c9ffba;
    font-weight: bold;
}

.o {
    background-color: #ea9cf7;
    font-weight: bold;
}